body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background: black;
    z-index: 5;
}



.leftSide{
    position: absolute;
    background-color: black;
    width: 5vw;
    height: 100vh;
}

.rightSide{
    background-color: black;
    position: absolute;
    width: 4vw;
    right: 0;
    height: 100vh;
}

.topSide{
    background-color: black;
    position: absolute;
    width: 100vw;
    height: 5vh;
    top: 0;
}

.bottomSide{
    background-color: black;
    position: absolute;
    width: 100vw;
    height: 4vh;
    bottom: 0;
}


.interface{
    position: absolute;
    top: 5vh;
    left: 5vw;
    margin: 0;
    border: white 1px solid;
    height: 91vh;
    width: 91vw;
}

.name{
    padding: 5vh;
    color: white;
    font-family: "Source Code Pro";
    font-size: 16px;
}


.zone {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 25vw;
    padding: 5vh;
    color: white;
    font-family: "Source Code Pro ExtraLight";
    font-size: 16px;
    white-space: break-spaces;
    transition: opacity 1s ease-in-out;
}

.list{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 5vh;

}


li{
    list-style: none;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: large;
}


span.active{
    opacity: 0.5;
    color: lightgrey;
    transition: opacity .5s linear;
}


.contactPanel{
    height: 100vh;
    width: 40vw;
    background-color: #252525;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    right: -40vw;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    transition: right .5s ease-in-out;
}

label{
    padding: 2vh;
}

.showing{
    transition: right .5s ease-in;
    right: 0;
}

.btn-primary{
    width: 80%;
    left: 10%;
    position: relative;
    margin-top: 5vh;
}

.cross{
    cursor: pointer;
    top: 5vh;
    left: 5vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 5vh;
    height: 5vh;
    background-color: black;
    font-size: x-large;
}

.swiper {
    width: 600px;
    height: 300px;
}

.link{
    color: white;

}

.texting{
    transition: opacity ease-in-out 1s;
}